@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,400;1,400&family=Playfair+Display:ital@1&display=swap');


*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  ::-webkit-input-placeholder {
    color: #56585b;
  }
  ::-moz-placeholder {
    color: #56585b;
  }
  
  :-moz-placeholder {
    color: #56585b;
  }
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body{
    background: url(https://www.nps.gov/npgallery/GetAsset/923b0e48-8082-46be-a7ab-c703473cb41f/proxy/hires?)no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #0a0a0b;
    overflow: hidden;
    margin: 0;
  
}

.container{
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 20px 50px;
    font-family: 'Fira Sans', sans-serif;
    color: white;
    margin-top: -2em;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    gap: 8em;
    


}

.section-a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25em;
    padding: 0;
    margin-top: 5em;

}
.section-a h1{
    font-size: 70px;
    margin-top: 0;
}
.section-a p {
    margin-top: -2rem;
}
.redes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 20rem;
    align-self: center;
   
}

.redesb{
    position: absolute;
    width: 100%;
    margin-top: 90vh;
    display: flex;
    justify-content: center;
    opacity: 0;
    gap: 1em;

}

.redesb img {
     width: 2rem;
     
}
.redes img{
    width: 2rem;
}
.redes img:hover{
    opacity: 0.60;
    
}
.redesb img:hover{
    opacity: 0.60;}

.section-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
    margin-top: 6em;
  

 
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.input{
    margin-top: 1rem;
    width: 20em;
    height: 1.5rem;
    border: none;
    border-radius: 0.4rem;
    outline: none;
}
.input:hover{
    background-color: rgba(255, 255, 255, 0.534);
}
label input{
    display: flex;
    flex-direction: column;
    width: 90%;
}
label span{
    font-weight: 200;
}
.imput-label{
    display:flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
    gap: 1rem;
    padding: 2.3rem;
    margin-top: -1.5rem;
}
.imput-label input[type="checkbox"] {
    width: 15px;
}
.imput-label span{
    font-weight: 400;
}
.btn{
    background-color: rgb(240, 99, 38);
    border: none;
    height: 1.8rem;
    border-radius: 0.5rem;
    align-self: flex-start;
    margin-top: -2rem;
    margin-left: 2.6rem;
    color: white;
}
.btn:hover{
    opacity: 0.70;
    cursor: pointer;
}

span a{
    text-decoration: none;
   
    color: white;
}
span a:hover{
    color: rgba(255, 255, 255, 0.61);
}
.final{
    margin-top: 4em;
}
.final span{
    color: rgba(248, 242, 242, 0.89);

}
.final-poli{
    display: flex;
    color: rgba(250, 244, 244, 0.89);
    align-items: center;
    margin-top: -1.3rem;
}
.final-poli a{
    color: rgba(252, 249, 249, 0.89);
    text-decoration: none;
}
.final-poli a:hover {
    color: rgba(0, 0, 0, 0.521);
    text-decoration: none;
}
.g-recaptcha{
    display: flex;
    transform: scale(0.74);
    transform-origin: 0 0;
    margin-left: 4em;
   

}
    


    @media all and (max-width:800px){
 body{
    background-position: 100%;
 
 }

        
.container{
    height:120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  bottom: 5vh;
    gap: 3em;

   

}
        .section-a {
            height: 0;
            align-self:center;
           
            
           
        }
        .section-a h1{
            font-size: 50px;
        }
        .section-a p{
            font-size: 0px;
        }

        .section-b{
        
         
            justify-self: center;
          
        }
       .redes{
       opacity: 0;
        }

        .redesb {
            opacity: 1;
        }

    }